.container {
  display: grid;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 500px;
  max-height: 500px;
  background-color: #333333;
  border-radius: 120px;
}

.pillBackground {
  grid-column: 1/3;
  grid-row: 1/5;
  justify-self: center;
  align-self: center;
}

.mainIcon {
  grid-column: 1/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}

.mainWeather {
  grid-column: 1/3;
  grid-row: 3/5;
}

.weekly {
  grid-column: 3/5;
  grid-row: 1;
}

.daySunny {
}

.dayCloudy {
}

.dayWindy {
}

.dayRainy {
}

.dayStromy {
}

.dayNaturalDisaster {
}

.day1 {
  grid-column: 3;
  grid-row: 2;
}

.day2 {
  grid-column: 4;
  grid-row: 2;
}

.day3 {
  grid-column: 3;
  grid-row: 3;
}

.day4 {
  grid-column: 4;
  grid-row: 3;
}

.day5 {
  grid-column: 3;
  grid-row: 4;
}

.day6 {
  grid-column: 4;
  grid-row: 4;
}

.signature {
  grid-column: 1/5;
  grid-row: 5;
}
