.weatherApp {
  display: grid;
  margin: 0 auto;
  margin-top: 25px;
  max-width: fit-content;
  grid-auto-rows: 130px;
  grid-auto-columns: 130px;
  background-color: #333333;
  border-radius: 140px 70px 70px 140px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #333333;
}

.pillBackground {
  grid-column: 1/3;
  grid-row: 1/5;
  justify-self: center;
  align-self: center;
}

.mainIconPlacement {
  grid-column: 1/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  scale: 200%;
}

.mainWeather {
  grid-column: 1/3;
  grid-row: 3/5;
}

.mainWeatherList {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

#description,
#dayDateTime,
#humidity,
#windSpeed {
  font-size: medium;
  text-align: center;
}

#place,
#temp {
  font-size: X-large;
  text-align: center;
}

#degree {
  font-size: medium;
  vertical-align: super;
}

.weekly {
  grid-column: 3/5;
  grid-row: 1;
  justify-self: center;
  align-self: flex-end;
  color: #f4cb69;
}

figure {
  margin: 0;
  position: relative;
}

.dayOne {
  grid-column: 3;
  grid-row: 2;
}

.dayTwo {
  grid-column: 4;
  grid-row: 2;
}

.dayThree {
  grid-column: 3;
  grid-row: 3;
}

.dayFour {
  grid-column: 4;
  grid-row: 3;
}

.dayFive {
  grid-column: 3;
  grid-row: 4;
}

.daySix {
  grid-column: 4;
  grid-row: 4;
}

.dayOneContent,
.dayTwoContent,
.dayThreeContent,
.dayFourContent,
.dayFiveContent,
.daySixContent {
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 45px;
  bottom: 25px;
  margin: 0;
}

.signature {
  grid-column: 1/5;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: small;
  color: #999999;
}

#ashley:hover,
#gitHub:hover {
  cursor: crosshair;
  color: #333333;
}
